<html>
<head>
    <title>Tomorrows Lunch</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/assets/js/main.js"></script>
</head>
<body class="landing">

    <!-- Page Wrapper -->
    <div id="page-wrapper">
        

        <!-- Header -->
        <header id="header">
            @if (ViewBag.ShowTitle)
            {
                <h1>@Html.ActionLink("Tomorrows Lunch", "Index", "Home")</h1>
            }
                @if (ViewBag.ShowLogin)
                {
                            <h2 id="login" class="icon fa-sign-in" style="display:inline-flex">@Html.ActionLink("Prijavi se", "Login", "User")</h2>
                }
            <nav id="nav" style="visibility:hidden">
                <ul>
                    <li class="special">
                        <a id="menuText" href="#menu" class="menuToggle"><span>@ViewBag.Name</span></a>
                        <div id="menu">
                            <ul>
                                <li class="icon fa-calendar" style="display:flex">@Html.ActionLink("Kalendar", "Home", "Home")</li>
                                <li class="icon fa-birthday-cake" style="display:flex">@Html.ActionLink("Jela", "Meals", "Meal")</li>
                                <li class="icon fa-lemon-o" style="display:flex">@Html.ActionLink("Sastojci", "Ingredients", "Ingredient")</li>
                                <li class="icon fa-sticky-note-o" style="display:flex">@Html.ActionLink("Recepti", "Recipes", "Meal")</li>
                                <li class="icon fa-sign-out" style="display:inline-flex">@Html.ActionLink("Odjavi se", "Index", "Home")</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        @RenderBody()
        <!-- Footer -->
        <footer id="footer">
            @*<ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                    <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                </ul>*@
            <ul class="copyright">
                <li>&copy;</li>
                <li>Author: Ivan Juric</li>
            </ul>
        </footer>
    </div>
</body>
</html>
